.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading{
    padding: 20px;
}
.contain{
    border: 1px solid black;
    border-radius: 20px;
    padding: 40px;
    width: 420px;
}
.contain .heading h3{
    text-align: center;
    font-weight: 900;
    font-size: 26px;
}
.contain .heading p{
     text-align: center;
    font-weight: 500;
    font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form > label {
  font-weight: 600;
  color: #263b5b;
  margin-bottom: 9px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 52px;
  border: 1px solid #d5dce6;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 15px;
  margin-bottom: 25px;
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color:var(--primary-color);
  box-shadow: 0 0 0 3px rgba(23, 105, 224, 0.1);
}

.form .loginButton button{
    background-color:var(--primary-color);
    padding: 8px 40%;
    margin: 10px;
    color: #fff;
    border-radius: 10px;

}
.form .loginOption{
    display: flex;
    gap: 7rem;
}


.loginBOptions{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.loginBOptions button{
    flex: 1;
    height: 42px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.signup{
    display: flex;
    gap: 1rem;
}
.loginOption span{
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}
.signup span{
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}